.sign-in-up {
  display: flex;
  justify-content: space-evenly;

  width: 80%;
}

@media only screen and (max-width: 1200px) {
  .sign-in-up {
    display: flex;
    flex-direction: column;
  }
}
