.container {
  width: 95%;
  margin: 0 auto;
}

.image {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("https://cdnimg.webstaurantstore.com/images/blogs/1532/farmtotable-blog-header.jpg");
  height: 60vh;
}

#goals {
  width: 35vw;
  height: auto;
}

.goals {
  display: flex;
  flex-direction: column;
}

.plusAndTitle {
  display: flex;
  flex-direction: column;

  background-color: rgb(233, 246, 251);
  border: 5px solid white;

  div {
    border: 1px solid grey;
    padding: 15px;
  }
  h3 {
    margin-left: 10px;
  }
}
.plusAndTitle:hover {
  color: blue;
  cursor: pointer;
}

.expanded {
  border-top: 10px solid white !important;

  background-color: white;
}

.add {
  display: flex;
  justify-content: start;
}
