.container {
  width: 95%;
  margin: 0 auto;
}

.image {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-image: url("https://cdnimg.webstaurantstore.com/images/blogs/1532/farmtotable-blog-header.jpg");
  height: 60vh;
}

.goals {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.plusAndTitle {
  display: flex;
  flex-direction: column;

  background-color: rgb(227, 236, 245);
  border: 5px solid white;

  div {
    border: 1px solid rgb(214, 214, 214);
    padding: 15px;
  }
  h3 {
    margin-left: 10px;
  }
}
.plusAndTitle:hover {
  cursor: pointer;
}
.add:hover {
  color: blue;
  cursor: pointer;
}

.expanded {
  border-top: 10px solid white !important;

  background-color: white;
  ul li a {
    text-decoration: none;
    font-size: x-large;
  }
  ul li {
    text-decoration: none;
    font-size: x-large;
  }
  ul li a:hover {
    color: red;
  }
}

.add {
  display: flex;
  justify-content: start;
}
