.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url(../../images/header.jpg);
  width: auto;
  height: 35rem;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
}

.who_we_are {
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 30px;

  .article_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    align-self: flex-start;
  }

  p {
    letter-spacing: 0.1em;
    line-height: 1.5em;
  }
}

.our_products {
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 30px;

  .article_left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  h2 {
    align-self: flex-start;
  }

  p {
    letter-spacing: 0.1em;
    line-height: 1.5em;
  }
}

.why_organic {
  display: flex;
  width: 80%;
  margin: 0 auto;
  gap: 30px;

  .article_bottom {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  h2 {
    align-self: flex-start;
  }

  p {
    letter-spacing: 0.1em;
    line-height: 1.5em;
  }
}
