.container .noMatch {
  display: none;
}

.title-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  height: 2.5em;
  width: 20em;
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  margin-bottom: 75px;

  border-style: solid;
  border-radius: 17px;
  box-shadow: 1px 0px 6px rgba(66, 66, 66, 0.75);
  text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
  input:focus {
    outline: none;
  }
}

.market-title {
  font-family: "Roboto";
  letter-spacing: 0.5em;
  margin-bottom: 50px;
}

.add-farm {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 30px;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}

.reverse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.filtered {
  display: flex;
  flex-direction: row;
  width: 42vw;
  position: relative;

  h2 {
    display: flex;
    justify-content: center;
  }

  .img {
    height: 50%;
    width: 100%;
  }

  .delete-up {
    display: flex;
    justify-content: space-between;

    button {
      min-width: 165px;
      width: auto;
      height: 50px;
      letter-spacing: 0.5px;
      line-height: 50px;
      padding: 0 35px 0 35px;
      font-size: 15px;
      background-color: black;
      color: white;
      text-transform: uppercase;
      font-family: "Open Sans Condensed";
      font-weight: bolder;
      border: none;
      cursor: pointer;
      border-radius: 30px;

      &:hover {
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
    .delete {
      margin-left: 10px;
      background-color: rgb(243, 97, 97);
    }
  }
}

.myButton {
  box-shadow: 3px 4px 0px 0px #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #06181d;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #e1e2ed;
}
.myButton:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  button {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.confirm {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50vw;
  height: 70vh;
  margin: 0 auto;
  margin-top: 5%;
  border: 1px solid black;

  h1 {
    color: white;
  }
}

@media only screen and (max-width: 1000px) {
  .reverse {
    display: flex;
    flex-direction: column;
  }
  .filtered {
    display: flex;
    flex-direction: row;
    width: auto;
    position: relative;

    h1 {
      display: flex;
    }

    h2 {
      display: flex;
      justify-content: center;
    }

    .img {
      height: 50%;
      width: 100%;
    }

    .delete-up {
      display: flex;
      justify-content: space-between;

      button {
        min-width: 165px;
        width: auto;
        height: 50px;
        letter-spacing: 0.5px;
        line-height: 50px;
        padding: 0 35px 0 35px;
        font-size: 15px;
        background-color: black;
        color: white;
        text-transform: uppercase;
        font-family: "Open Sans Condensed";
        font-weight: bolder;
        border: none;
        cursor: pointer;
        border-radius: 30px;
        overflow: hidden;

        &:hover {
          background-color: white;
          color: black;
          border: 1px solid black;
        }
      }
      .delete {
        margin-left: 10px;
        background-color: rgb(243, 97, 97);
      }
    }
  }
}
